app/.vscode/rad.json
app/.vscode/.alcache/*.json
app/.vscode/.altemplates/*.json
*.app

shipping agent general extensions/.vscode/.alcache/*
shipping agent general extensions/.vscode/rad.json

shipping agent UPS extensions/.vscode/.alcache/*
shipping agent UPS extensions/.vscode/rad.json
